<div class="col-xs-12">
  <span class="anchor" id="news"></span>
  <div class="page-header">
    <h1 class="text-center">News:</h1>
  </div>
</div>

<div class="col-xs-12">  
  <ul class="list-group">
    <% @articles.each do |article| %>
      <li class="list-group-item col-xs-12 col-sm-6">
        <%= render "articles/show" %>
      </li>
    <% end %>
  </ul>
</div>