<div class="col-xs-12 col-sm-6 text-center contact-header">
  <span class="anchor" id="contact"></span>
  <div class="page-header">
    <h2>Todd Stires</h2>
    <h3>Senior Partner</h3>
      <small>
        Lamington Properties LLC
        <br>
        Post Office Box 300
        <br>
        Bedminster, NJ  07921
      </small>
  </div>
</div>
<div class="col-xs-12 col-sm-6 text-center">
  <ul class="list-group contact-blurb">
    <li class="list-group-item">
      <i class="fa fa-phone fa-lg"></i>
      <span class="sr-only">Office Phone:</span>
      (908) 901-9905
    </li>
  
    <li class="list-group-item">
      <i class="fa fa-fax fa-lg"></i>
      <span class="sr-only">Office Fax:</span>
      (908) 901-9907
    </li>
  
    <li class="list-group-item list-group-link">
      <%= link_to "mailto:info[at]lamingtonproperties[dot]com", target: "", alt: "Email" do %>
        <i class="fa fa-envelope-o fa-lg"></i>
        <span class="sr-only">Email:</span>
        info@lamingtonproperties.com
      <% end %>
    </li>
  </ul>
</div>

<div class="col-xs-12 col-sm-6">
  <%= render "contact_mes/form" %>
</div>
