
<span class="anchor" id="about"></span>
<div class="page-header">
  <h1 class="text-center">About Lamington Properties:</h1>
</div>


<div class="col-xs-12 about">
  <div class="col-xs-12 col-sm-6">
    <h2>Our Company</h2>
    <p>
    Lamington Properties LLC, founded in 2002, is a licensed New Jersey independent real estate brokerage firm which provides strategic advisory and transaction services to its clients.  We are a valued partner to business owners, professionals and individuals who seek high-quality, personalized expertise to accomplish their goals.  Our professionals possess significant real estate brokerage and development experience and are particularly proud to hold extended relationships with our clients for many years.
    </p>
  </div>

  <div class="col-xs-12 col-sm-6">
    <h2>Our Philosophy</h2>
    <p>
    Our philosophy is composed of three parts: Unwavering Client Commitment; Independent, Unbiased Advice; Highest Level of Senior Attention.  We believe in lasting relationships with a select group of business owners, professionals and individuals and are committed to recommending courses of action in our clients’ long-term best interests.  We measure our success by the value our clients realize over time.  We are committed to providing our clients with objective advice unencumbered by potential conflicts.  Our senior partners are personally committed to managing all details of a client engagement including market overviews, site visits, negotiations and closing.</p>


    <%= render "pages/social_links" %>

  </div>

  <!-- <div class="col-xs-12 col-sm-6 about-picture">
    <%= image_tag("Doug_santorini.jpg", class: "img-center") %>
  </div> -->
</div>