<div class="col-xs-12">
  <span class="anchor" id="about"></span>
  <div class="page-header">
    <h1 class="text-center">Founder & Senior Partner: Todd Stires <br><small>todd@lamingtonproperties.com</small></h1>
  </div>
</div>





<div class="founder-bio">
  <p></p>
  Todd has over 25+ years in the real estate industry.  His career has ranged from project management to development to brokerage.  Prior to founding Lamington Properties, Todd provided real estate sales services at Colliers Houston.  Todd began his real estate career at Max Spann Realtors in 1986.  An avid supporter of local charitable organizations, Todd was the 2005 recipient of the “Spirit of Hope” award for his leadership in renovating and restoring a structure that has become home to The Wellness Community of Central New Jersey.  Additionally, Todd served on the Steering Committee for the Children’s Museum of Central New Jersey.  Most recently, Todd has been recognized for his role in providing a new site for the Somerset Hills Learning Institute, a school for autistic children.  Todd received his Bachelor of Science degree from Lehigh University and an Advanced Degree in Real Estate from New York University.  Todd is a licensed New Jersey Realtor Broker since 1989.
</div>