<div class="col-xs-12">
  <span class="anchor" id="services"></span>
  <div class="page-header">
    <h1 class="text-center">Services:</h1>
  </div>
</div>

<div class="col-xs-12">
  <p>We excel at providing advice and expertise to business owners, professionals and individuals facing strategic real estate decisions who desire in-depth relationships rather than off-the-shelf assistance.  Our clients benefit from a seasoned professional team, a broad regional network of relationships and long-established community, corporate and local government contacts.
  </p>
  
  <ul class="list-group">
    <li class="list-group-item col-xs-12 col-sm-6">Commercial Brokerage</li>
    <li class="list-group-item col-xs-12 col-sm-6">Office Brokerage</li>
    <li class="list-group-item col-xs-12 col-sm-6">Industrial Real Estate Brokerage</li>
    <li class="list-group-item col-xs-12 col-sm-6">Sustainability Analysis</li>
    <li class="list-group-item col-xs-12 col-sm-6">Investment Real Estate Advisory</li>
    <li class="list-group-item col-xs-12 col-sm-6">Land Sales</li>
    <li class="list-group-item col-xs-12 col-sm-6">Residential Real Estate</li>
    <li class="list-group-item col-xs-12 col-sm-6">Real Estate Development</li>
    <li class="list-group-item col-xs-12 col-sm-6">Project Management</li>
    <li class="list-group-item col-xs-12 col-sm-6">1031 Tax-free Exchanges</li>
    <li class="list-group-item col-xs-12 col-sm-6">Conservation Easements</li>
    <li class="list-group-item col-xs-12 col-sm-6">Land Management</li>
  </ul>
</div>

<%= render "pages/founder_link" %>