<div class="col-xs-12 about background-image row-padding">
  <%= render "about" %>
</div>

<div class="col-xs-12 services">
  <%= render "pages/services" %>
</div>

<!-- TODO Add dynamic content

<div class="col-xs-12 properties background-image row-padding">
  <%# render "properties/index" %>
</div>

-->

<div class="col-xs-12 news background-image row-padding tint">
  <%= render "articles/index" %>
</div> 

<div class="col-xs-12 contact background-image row-padding">
  <%= render "contact_mes/new" %>
</div>