<div class="col-xs-12 about background-image row-padding">
  <%= render "about" %>
</div>

<div class="col-xs-12 services">
  <%= render "pages/services" %>
</div>

<div class="col-xs-12 contact background-image row-padding">
  <%= render "contact_mes/new" %>
</div>
